body{
    background-color: #38144dd4;
    color: rgb(251, 246, 246);
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 50ex;
    margin: 0;
}

button {
    background-color: rgb(194, 132, 200);
    color: rgb(22, 22, 22);
    font-family: "Playfair Display", serif;
}

.passo {
    display:none;

}

.passo.ativo{
    display: block;
}